<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <!--公司-->
  <!--<add name="SqlServerConnectionString" connectionString="Data Source=(local);Initial Catalog=lipings;User Id=sa;Password=123456;" providerName="System.Data.SqlClient" />-->
  <!--家-->
  <add name="SqlServerConnectionString" connectionString="Data Source=(local);Initial Catalog=lipings;User Id=sa;Password=jintenglin;" providerName="System.Data.SqlClient" />
</connectionStrings>
